<div id="about">
  <section id="intro">
    <h1>Hi, I'm Adebayo Opesanya 👋🏼</h1>
    <p>
      I am a Backend Engineer, fascinated by complex systems and obsessed with building highly effective engineering teams.
    </p>
  </section>
  <section id="personal">
    <p>
      
    </p>
  </section>
  <section id="work">
    <p>
      
      I currently work at
      <a href="https://korapay.com" target="_blank" rel="noopener noreferrer">Korapay</a> as a Backend
      Engineer, where I design, maintain, and build efficient systems and integrations to create a future void of digital financial barriers across Africa.
      For more on my work history, visit my LinkedIn page.
    </p>
    <p>
      To help build the Node.js developer ecosystem, I am the Country Director
      of
      <a href="https://nigeria.nodejs.africa" target="_blank" rel="noopener noreferrer">Node.js Nigeria</a
      >, organizer of NodeConf NG. I also run <a href="https://twitter.com/SystemTuesday" target="_blank" rel="noopener noreferrer">System Design Tuesdays on Twitter</a>, where I facilitate System Design conversations and also post helpful content.
    </p>
  </section>
  <section id="contact">
    <p>Interested in working with me? <a href="mailto:hello@bayoopesanya.com">Please send an email</a> or a Twitter DM.</p>
  </section>
</div>
