<div id="about">
  <section id="intro">
    <h1>Hi, I'm Adebayo Opesanya 👋🏼</h1>
    <p>
      I write backend code that adds functionality to everything a front-end
      engineer creates.
    </p>
  </section>
  <section id="personal">
    <p>
      Born in April 1994 in Lagos, Nigeria, I am the first of three children. I
      spent most of my childhood and teenage years in Ipaja, where I completed
      primary school and high school.
    </p>
  </section>
  <section id="work">
    <p>
      I started my coding journey in 2009, but only started writing code
      professionally in 2014. I currently work at
      <a href="https://app.eyowo.com" target="_blank">Eyowo</a> as a Backend
      Engineer, where I build efficient systems and integrations to make
      payments easier for over 2 million users.
    </p>
    <p>
      My mostly used languages Node.js (Typescript and Javascript), and Golang,
      although I only recently started using Golang. When I need a GraphQL API,
      I use Apollo GraphQL. I also implement micro services with gRPC.
    </p>
    <p>
      To help build the Node.js developer ecosystem, I am the Country Director
      of
      <a href="https://nigeria.nodejs.africa" target="_blank">Node.js Nigeria</a
      >, organizer of NodeConf NG.I’m also a member of several developer
      communities like ForLoop Africa and GDG Lagos. I’m also a Community
      Ambassador for Andela’s ALC program where I mentor the next generation of
      tech leaders in Africa.
    </p>
  </section>
  <section id="contact">
    <p>Interested in working with me? <a href="mailto:hello@bayoopesanya.com">Please send an email</a>.</p>
  </section>
</div>
