<div id="home">
  <hr class="big-divider" />
  <section id="name">
    <h1>ADEBAYO OPESANYA</h1>
  </section>
  <hr class="small-divider" />
  <section id="bio">
    <p class="bio-p">
      Software Engineer(Backend), Conference Organizer & Speaker, Community Builder.
    </p>
  </section>
  <hr class="big-divider" />
  <section id="footer">
    <ul>
      <li class="links-li">
        <a class="icon-a" href="https://twitter.com/onejsninja"
          ><i class="fab fa-twitter"></i
        ></a>
      </li>
      <li class="links-li">
        <a class="icon-a" href="https://github.com/OpesanyaAdebayo"
          ><i class="fab fa-github"></i
        ></a>
      </li>
      <li class="links-li">
        <a
          class="icon-a"
          href="https://www.linkedin.com/in/adebayo-opesanya-16166bb0/"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </li>
    </ul>
  </section>
</div>
